:root{
    --black-color:#000000;
    --white-color:#ffffff;
    --main-nav-red-color:#D41B2C;
    --profile-nav-item-color:#b52828;
    --profile-line-selected-nav-item:#2d3b45;
    --profile-header-hr-line:#c7cdd1;
    --btn-background-light-grey:#f5f5f5;
}

body * {
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;  
}

body{
    margin: 0;
}

/* .flex-row-container{
    display:flex;
    flex-direction: row;
}

.flex-grow-1{
    flex-grow: 1;
} */

.second-nav-container{
    height: 100%;
    overflow: hidden;
}

.profile-wrapper{
    box-sizing: border-box;
    min-height: 100vh;
    /* margin-left: 85px; */
    display: flex;
    flex-direction: column;
    padding-right:0 ;
}

.page-content{
    overflow-y: auto;
    max-height: 100vh;
    overflow-x: hidden;
}

/* .profile-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--profile-header-hr-line);
    margin: 0 24px;
    min-height: 4.5rem;
    box-sizing: border-box;
} */
/* .profile-nav-size{
    width: 12%;
} */
/* .profile-nav-toggle{
    margin-right: 12px;
    padding: 0;
    width: 36px;
    height: 30px;
    border-color: transparent;
    cursor: pointer;
    color: var(--main-nav-red-color);
    background-color: var(--white-color);;
} */
/* .menu-button{
    color: var(--main-nav-red-color);
} */

/* .profile-nav{
    position: relative;
    display: block;
    top: 0;
    height: 100%;
    width: 190px;
    padding: 25px 12px 25px 20px;
    box-sizing: border-box; */
    /* overflow-y: auto;
    overscroll-behavior-y: contain; */
/* } */

/* .profile-nav-list{
    padding: 0%;
} */
/* .profile-nav-items{
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 0 15px;
    padding: 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--profile-nav-item-color);
} */


/* .profile-user-name a{
    text-decoration: none;
    color: var(--profile-line-selected-nav-item);
} */

/* .profile-user-name a:hover{
    text-decoration: underline;
    color: var(--profile-line-selected-nav-item);
}
.profile-nav-items a{
    padding: 8px 0 8px 6px;
    text-decoration: none;
    color: var(--profile-nav-item-color);
} */

/* .profile-nav-items a.profile {
    border-left: 2px solid var(--profile-line-selected-nav-item);
    border-radius: 0px;
    font-weight: bold;
    color: var(--profile-line-selected-nav-item);
    padding-left: 4px;
    padding: 8px 0 8px 6px;
} */
/* 
.profile-nav-items a.profile:hover {
    text-decoration: underline;
    color: var(--profile-line-selected-nav-item);
} */
/* 
.profile-nav-items a:hover {
    text-decoration: underline;
    color: inherit;
} */

.profile-avatar{
    /* margin-right: 20px; */
    float: left;
    /* position: relative; */
    width: 158px;
    height: 128px;
    /* top: 20px; */
}


.profile-icon{
    width: 128px;
    height: 128px;
    font-size: 130px;
    /* position: relative;
    top: 30px;
    left: 60px; */
}


.profile-user-content{
    position: relative;
    left: 10px;
    top: 40px;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.edit-user-profile{
    position: relative;
    left: 10px;
    top: 40px;
    flex-direction: column;
    margin-left: 20px;
}

.contact-details a{
    color: var(--main-nav-red-color);
    text-decoration: underline;
}

.profile-data-edit-details{
    flex: 1;
    text-align: right;
    height: 100%;

}

.cancel-edit-section{
    position: relative;
    top: 20px;
    text-align: right;
    left: 100px;
}

.profile-cancel-edit{
    height: 100%;
}

.btn-edit-profile{
    display: inline-block;
    position: relative;
    top: 20px;
}

.profile-edit-icon{
    color: var(--black-color);
}

.btn-color{
    background-color: var(--btn-background-light-grey);
}


/* .small-nav-bar {
    padding: 10px 20px 10px 20px;
    background-color: #000000;
} */

.small-profile-nav {
    float: right;
}

.edit-profile-btns{
    margin:15px 5px 0px 0px;
}

.profile-right-arrow {
    height: 30px;
    color: #000000;
    position: relative;
    top: 7px;
    left: 4px;
}

.profile-links-data {
     padding-left: 0px;
     padding-right: 0px;
}


.cross-ele{
    color: var(--profile-nav-item-color);
    position: relative;
    top: 7px;
    left: 4px;
}

.profile-link-header {
    color: var(--black-color);
    font-weight: bold;
    text-align: center;
}

.test-scroll {
    overflow-y: auto;
}