:root{
    --black-color:#000000;
    --white-color:#ffffff;
    --main-nav-red-color:#D41B2C;
    --profile-nav-item-color:#b52828;
    --profile-line-selected-nav-item:#2d3b45;
    --profile-header-hr-line:#c7cdd1;
}


.second-nav-items-fixed{
    list-style-type: none;
    font-size: 0.6875rem;
    font-style: italic;
    color: var(--profile-line-selected-nav-item);
    margin-bottom: 2px;
    list-style-type: none;
}

.breadcrumb-position{
    position: relative;
    top: 7px;
}

.grades-btn{
    display: inline-block;
    margin: 5px;
}

.grades-btn i{
    color: black;
}

.btns-display{
    padding: 10px;
    display:flex;
    justify-content: right;
}

.grades-filter {
    display: flex;
    justify-content: space-between; 
}

.grades-filter-item{
    flex: 1;
    margin-right: 10px; 
}

.grades-filter-item label{
    font-weight: bold;
}

.grades-apply-filter {
    margin-top: 15px;
}

.grades-apply-filter button i{
    color: var(--black-color);
}

.grades-table {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.table-header-assignment {
    font-weight: 400;
}

.student-name-col {
    color: var(--profile-nav-item-color) !important;
}


.grade-input {
    border-color: var(--profile-nav-item-color);
    outline: none;
  }

  .grade-input:focus {
    border-color: var(--profile-nav-item-color);
    outline: none;
  }
