:root{
    --black-color:#000000;
    --white-color:#ffffff;
    --main-nav-red-color:#D41B2C;
    --profile-nav-item-color:#b52828;
    --profile-line-selected-nav-item:#2d3b45;
    --profile-header-hr-line:#c7cdd1;
}

body * {
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;  
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 700px;
}

.flex-row-container{
    display:flex;
    flex-direction: row;
}

.flex-grow-1{
    flex-grow: 1;
}

.app {
    box-sizing: border-box;
    min-height: 100vh; 
    margin: 0; 
    padding:0;
    min-width:200vh;
    min-height: 100vh;
}

.app-navigation{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 85px;
    z-index: 100;
    background-color: var(--black-color);
    overflow-y: auto;
    max-height: 100vh;
    overflow-x: hidden;
}

@media (min-height: 500px) {
    .app-navigation {
        max-height: none; 
        overflow-y: auto;
        overscroll-behavior-y: contain;
    }
}

@media (max-width: 1200px) {
    .app-navigation {
      display: none;
    }
}

.neu-logo-container{
    width: 100%;
    background-color: var(--black-color);
    box-sizing: border-box;
    z-index: -1;
}

.neu-logo{
    display: block;
    overflow: hidden;
    background-image: url('../../images/logo.png');
    background-color: var(--black-color);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
}

.nav-menu{
    padding: 0;
    list-style: none;
    margin:10px 0px 7px 0px;
}

.nav-menu li {
    margin: 5px 0px 5px 0px;
    padding: 0;
    justify-content: center;
    height: 55px;
    display: flex;
    align-items: center;
}


.nav-menu-list-item {
    box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: block;
    color: var(--white-color);
    border-style: none;
}

/*add*/
.nav-menu-list-item.active-item {
    background-color: white;
    color: #2d3b45;
}

.nav-menu-list-item a{
    text-decoration: none;  
}

.nav-menu-list-item.active-item a {
    background-color: white;
}

.nav-menu-list-link{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    height: 55px;
    display: block;
    color: var(--white-color);
    border-style: none;
}


.nav-menu-icon-container{
    transform: translate3d(0, 0, 0);
    position: relative;
    z-index: 1;
    width: 48px;
    height: 36px;
    margin: 0 auto;
    color: var(----main-nav-red-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .nav-menu-list-item.active-item .nav-menu-icon-container{
    color: #2d3b45;
} */


.nav-menu-icon-avatar{
    position: relative;
    top: 4px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid var(--white-color);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 36px;
    height: 36px;
    margin: auto;
}


.nav-menu-list-item.active-item .nav-menu-icon-avatar {
    border: 2px solid #2d3b45;
}

.nav-menu-list-item.active-item .fas {
    color: #2d3b45;
}


.nav-menu-icon-div{
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: middle;
    display: flex; /* Use flex to center vertically and horizontally */
    justify-content: center; /* Center horizontally */
    align-items: center; 
    width: 40px;
    height: 40px;
    margin: auto;
}

.fas{
    color: var(--white-color);
    vertical-align: middle;
    display: inline-block;
} 


.menu-icons{
    color: var(--main-nav-red-color);
    vertical-align: middle;
    display: inline-block;
}

.nav-menu-item-text{
    background-color: black;
    padding: 0 10px;
    font-size: 14px;
    font-size: 0.78rem;
    border-radius: 3px;
    color: var(--white-color);
    white-space: nowrap;
    text-align: center; /* Center text horizontally */
    margin-top: 5px;
    width: 85px;
}

.nav-menu-list-item.active-item .nav-menu-item-text {
    color:#b52828;
    background-color: #ffffff;
}

.content-container {
    overflow-y: auto;
    max-height: 100vh;
    overscroll-behavior-y: contain;
    /* min-width: 780px; */
}


@media (min-height: 500px) {
    .content-container {
        max-height: none; 
        overflow-y: auto;
        overscroll-behavior-y: contain;
    }
}

@media (min-width: 780px) {
    .content-container {
     display: block; 
      overflow-x: hidden;
      float: left;
    }
  } 

/** Second Nav Bar **/

.content-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--profile-header-hr-line);
    margin: 0 24px;
    min-height: 4.5rem;
    box-sizing: border-box;
    min-width: 740px;
}




.content-nav-toggle{
    margin-right: 12px;
    padding: 0;
    width: 36px;
    height: 30px;
    border-color: transparent;
    cursor: pointer;
    color: var(--main-nav-red-color);
    background-color: var(--white-color);;
}
.menu-button{
    color: var(--main-nav-red-color);
}


.second-nav{
    position: relative;
    display: block;
    top: 0;
    height: 100%;
    width: 190px;
    padding: 25px 12px 25px 20px;
    box-sizing: border-box;
    /* overflow-y: auto;
    overscroll-behavior-y: contain; */
}

.second-nav-list{
    padding: 0%;
}
.second-nav-items{
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    margin: 15px 0 15px;
    padding: 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--profile-nav-item-color);
}


.second-nav-items-fixed{
    list-style-type: none;
    font-size: 0.6875rem;
    font-style: italic;
    color: var(--btn-background-light-grey);
    margin-bottom: 2px;
    list-style-type: none;
}

.second-nav-container{
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    flex-grow: 1;
    max-height: 100vh;
}

@media (min-height: 500px) {
    .second-nav-container {
        max-height: none; 
        overflow-y: auto;
        overscroll-behavior-y: contain;
    }
}

@media (max-width: 1000px) {
    .second-nav-container {
      display: none;
    }
}



.data-container{
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    max-height: 75vh;
     /* overflow-x: auto;  */
}
  

.content-header a{
    text-decoration: none;
    color: var(--profile-line-selected-nav-item);
}

.content-header-data a:hover{
    text-decoration: underline;
    color: var(--profile-line-selected-nav-item);
}
.second-nav-items a{
    padding: 8px 0 8px 6px;
    text-decoration: none;
    color: var(--profile-nav-item-color);
}

.second-nav-items a.active-second-nav-link {
    border-left: 2px solid var(--profile-line-selected-nav-item);
    border-radius: 0px;
    font-weight: bold;
    color: var(--profile-line-selected-nav-item);
    padding-left: 4px;
    padding: 8px 0 8px 6px;
}

.second-nav-items a.profile:hover {
    text-decoration: underline;
    color: var(--profile-line-selected-nav-item);
}

.second-nav-items a:hover {
    text-decoration: underline;
    color: inherit;
}

.small-nav-bar {
    padding: 10px 20px 10px 20px;
    background-color: #000000;
}



.breadcrumb-container {
    display: flex;
    flex-grow: 1;
}

