:root{
    --black-color:#000000;
    --white-color:#ffffff;
    --main-nav-red-color:#D41B2C;
    --profile-nav-item-color:#b52828;
    --profile-line-selected-nav-item:#2d3b45;
    --profile-header-hr-line:#c7cdd1;
    --dashboard-heading-color: #6c757d;
    --card-title-color: #5199d6;
    --card-color-1:#927005;
    --card-color-2:#3c4f36;
    --assignment-content-tick-icon: #39c63c;
    --btn-background-light-grey:#f5f5f5;
    --list-item-color:#636464;
    --secondary-bg-color-header:#e2e3e5;
    --card-header-color:#636464;
}

.dropdown-toggle::after {
    content: none;
}

.moduleForm {
    position: absolute;
    border: 0.5px solid;
    border-color: var(--black-color);
    top:80px;
    left: 400px;
    width: 50%;
    height: 80%;
    /* max-height: 591px; */
    background: rgba(0, 0, 0, 1);
    background-color: var(--btn-background-light-grey);
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
}

@media (min-height: 400px){
    .moduleForm{
        overflow-y: auto;
    }
}

@media (max-width: 924px) {
    .moduleForm {
        width: 90%; 
        left: 5%; 
    }
}

.icon-btn{
    background-color: transparent;
}

.moduleForm .form-label{
    color: var(--black-color);
}

.student-view-btn {
    display:flex;
    /* justify-content: right; */
    justify-content: flex-end;
    background-color: var(--btn-background-light-grey);
}

.custom-divider {
    --bs-breadcrumb-divider: '>';
  }

.tick-icon{
    color: var(--assignment-content-tick-icon);
}

.page-content{
    overflow-x:hidden;
}


@media (max-width: 540px){
    .page-content{
        overflow-x: auto;
    }
}

.btn-color{
    background-color: var(--btn-background-light-grey);
}

.secondary-color{
    background-color: var(--secondary-bg-color-header);
}

.icon-colors{
    color: var(--black-color);
}

.btn-grp-row{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 570px) {
    .btn-grp-row {
      display: flex;
      justify-content: flex-start;
    }
    .btn-grp-row .btn {
        width: auto; 
        white-space: nowrap; 
    }
}


.breadcrumb-position{
    position: relative;
    top: 7px;
}

.list-item-color{
    color: var(--list-item-color);
}

.list-item-row a{
    text-decoration: none;
    color: var(--list-item-color);
}

.card-list-item-header a{
    text-decoration: none;
    color: var(--list-item-color);
}

.list-item-link a{
    text-decoration: none;
    color: var(--profile-nav-item-color);
}

.list-item-link a:hover{
    text-decoration: underline;
    color:var(--black-color);
}


.main-row-container {
    height: 100%;
}


.set-position{
    display: flex;
    position: relative;
    top: 10px;
}

.set-position a{
    color: var(--profile-nav-item-color);
    text-decoration: none;
}

.upcoming-item a{
    color: var(--profile-nav-item-color);
    text-decoration: none;
}

.todo{
    border: none;
}

.todo a{
    color: var(--profile-nav-item-color);
    text-decoration: none;   
}