:root{
    --black-color:#000000;
    --white-color:#ffffff;
    --main-nav-red-color:#D41B2C;
    --profile-nav-item-color:#b52828;
    --profile-line-selected-nav-item:#2d3b45;
    --profile-header-hr-line:#c7cdd1;
    --assignment-content-tick-icon: #39c63c;
    --btn-background-light-grey:#f5f5f5;
    --list-item-color:#636464;
    --secondary-bg-color-header:#e2e3e5;
}

.tick-icon{
    color: var(--assignment-content-tick-icon);
}

.page-content{
    overflow-x:hidden;
}

/* .second-nav-items-fixed{
    list-style-type: none;
    font-size: 0.6875rem;
    font-style: italic;
    color: var(--profile-line-selected-nav-item);
    margin-bottom: 7px;
    list-style-type: none;
    padding-left: 8px;
} */

@media (max-width: 540px){
    .page-content{
        overflow-x: auto;
    }
}

.btn-color{
    background-color: var(--btn-background-light-grey);
}

.secondary-color{
    background-color: var(--secondary-bg-color-header);
}

.icon-colors{
    color: var(--black-color);
}

.btn-grp-row{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 570px) {
    .btn-grp-row {
      display: flex;
      justify-content: flex-start;
    }
    .btn-grp-row .btn {
        width: auto; /* Reset button width */
        white-space: nowrap; /* Prevent text wrapping */
    }
}


.breadcrumb-position{
    position: relative;
    top: 7px;
}

.list-item-color{
    color: var(--list-item-color);
}

.list-item-row a{
    text-decoration: none;
    color: var(--list-item-color);
}

.card-list-item-header a{
    text-decoration: none;
    color: var(--list-item-color);
}

.list-item-link a{
    text-decoration: none;
    color: var(--profile-nav-item-color);
}

.set-position{
    display: flex;
    position: relative;
    top: 10px;
}

.set-position a{
    color: var(--profile-nav-item-color);
    text-decoration: none;
}

.upcoming-item a{
    color: var(--profile-nav-item-color);
    text-decoration: none;
}

.todo{
    border: none;
}

.todo a{
    color: var(--profile-nav-item-color);
    text-decoration: none;   
}